<Music>
  <Title><![CDATA[<%= @reply[:title] %>]]></Title>
  <Description><![CDATA[<%= @reply[:desc] %>]]></Description>
  <MusicUrl><![CDATA[<%= @reply[:url] %>]]></MusicUrl>
  <HQMusicUrl><![CDATA[<%= @reply[:hq_url] %>]]></HQMusicUrl>
</Music>
